.main {
  margin: 0 var(--pageMarginHorizontal) var(--pageGap);
}

.main > * {
  margin-top: var(--pageGap);
}

.main > article > p + p {
  margin-top: var(--space1);
}

.main > article > p > a {
  color: blue;
}
.main > article > p > a:hover {
  text-decoration: underline;
}
