.article > p + p {
  margin-top: var(--space1);
}

.article > p > a {
  color: blue;
}
.article > p > a:hover {
  text-decoration: underline;
}

.h2 {
  font-size: 2.4rem;
  margin-bottom: var(--space1);
}
