/* Small 0-599 */
:root {
  --spaceHalf: 0.4rem; /* 4px */
  --space1: 0.8rem; /* 8px */
  --space1point5: calc(var(--space1) * 1.5); /* 12px */
  --space2: calc(var(--space1) * 2); /* 16px */
  --space2point5: calc(var(--space1) * 2.5); /* 20px */
  --space3: calc(var(--space1) * 3); /* 24px */
  --space4: calc(var(--space1) * 4); /* 32px */
  --space5: calc(var(--space1) * 5); /* 40px */
  --space6: calc(var(--space1) * 6); /* 48px */
  --space7: calc(var(--space1) * 7); /* 56px */
  --space8: calc(var(--space1) * 8); /* 64px */
  --space10: calc(var(--space1) * 10); /* 80px */
  --space12: calc(var(--space1) * 12); /* 96px */
  --space15: calc(var(--space1) * 15); /* 120px */
  --space20: calc(var(--space1) * 20); /* 160px */

  --pageMarginHorizontal: var(--space3);
  --pageGap: var(--space4);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Medium 600-1023 */
@media (min-width: 600px) {
  :root {
    --pageMarginHorizontal: var(--space4);
    --pageGap: var(--space5);
  }
}

/* Large 1024-Infinity */
@media (min-width: 1024px) {
  :root {
    --pageMarginHorizontal: var(--space6);
    --pageGap: var(--space7);
  }
}
